html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: radial-gradient(circle, #d2e1f8 0%, #d8e5f7 30%, #dce9fa 60%, #ffffff 100%);
}

a {
  color: blue;
}


