html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: radial-gradient(circle, #e9f6fc 0%, #e1eaf7 30%, #f0f5fc 60%, #ffffff 100%);
}

a {
  color: blue;
}


